@model SupplierViewModel

@{
    ViewData["Title"] = "Register Supplier Physical";
}

<h2>
    Register Supplier Physical
</h2>
<br/>
<br/>
<br/>

<form asp-action="CreatePhysical" method="post">
    <h3>supplier's status </h3>
    <div class="row" style="gap: 10px;">
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Active" value="1" checked>
            <label class="form-check-label" asp-for="Active">
                Active
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Active" value="0" >
            <label class="form-check-label" asp-for="Active">
                deactivated
            </label>
        </div>
    </div>
    <br/>
  <div class="mb-3">
    <label asp-for="FullName" class="form-label"></label>
    <input asp-for="FullName" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Cpf" class="form-label"></label>
    <input asp-for="Cpf" type="number" class="form-control">
  </div> 
   <div class="mb-3">
    <label asp-for="BirthDate" class="form-label"></label>
    <input asp-for="BirthDate" type="datetime" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="FantasyName" class="form-label"></label>
    <input asp-for="FantasyName" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Email.EmailAddress" class="form-label"></label>
    <input asp-for="Email.EmailAddress" type="email" class="form-control">
  </div>
  <div class="row" style="gap: 10px;">
    <div>
        <label asp-for="Phone.Ddd" class="form-label"></label>
        <input asp-for="Phone.Ddd" type="number" class="form-control">
    </div>
    <div>
        <label asp-for="Phone.Number" class="form-label"></label>
        <input asp-for="Phone.Number" type="number" class="form-control">
    </div>
  </div>
    <div class="mb-3">
    <label asp-for="Address.Street" class="form-label"></label>
    <input asp-for="Address.Street" type="text" class="form-control">
  </div>
    <div class="mb-3">
    <label asp-for="Address.Number" class="form-label"></label>
    <input asp-for="Address.Number" type="number" class="form-control">
  </div>
    <div class="mb-3">
    <label asp-for="Address.Neighborhood" class="form-label"></label>
    <input asp-for="Address.Neighborhood" type="text" class="form-control">
  </div>
    <div class="mb-3">
    <label asp-for="Address.City" class="form-label"></label>
    <input asp-for="Address.City" type="text" class="form-control">
  </div>
    <div class="mb-3">
    <label asp-for="Address.State" class="form-label"></label>
    <input asp-for="Address.State" type="text" class="form-control">
  </div>
    <div class="mb-3">
    <label asp-for="Address.ZipCode" class="form-label"></label>
    <input asp-for="Address.ZipCode" type="number" class="form-control">
  </div>
    <div class="mb-3">
    <label asp-for="Address.Reference" class="form-label"></label>
    <input asp-for="Address.Reference" type="text" class="form-control">
  </div>
    <div class="mb-3">
    <label asp-for="Address.Complement" class="form-label"></label>
    <input asp-for="Address.Complement" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>


@section Scripts {
    @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}